@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{font-family:'Roboto',sans-serif;padding:2em;max-width:800px;color:#333}
table p{margin:.3em}
body>a{text-decoration:none;font-size:1rem;padding:.3em 0;
    border-bottom:1px dotted #ddd}
body>a:hover{border-bottom:1px solid #ddd}
body>a:after{content:'  *'}
body>a,h1 span{text-transform:uppercase;letter-spacing:.1rem;color:hotpink}
h1,h2{font-weight:normal}
h2{margin-top:1.5em}
a{color:dodgerblue}
