<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{% block title %}{{ page.title }} {% if page.home %}
pre slovenských kuchárov aj gazdinky{% else %} - {{ site_name }}{% endif %}{% endblock %}</title>
<meta name="description" content="{{ desc }}">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
<base href="/nom/">
<link rel="stylesheet" href="{{ site_root }}/style.css">
<link rel="canonical" href="{{ site_url }}{{ page.get_absolute_url }}">
{% if page.home %}<link rel="alternate" href="{{ site_root }}/feed.xml" type="application/rss+xml" title="RSS">{% endif %}
{% if not page.home %}<script src="scripts.js"></script>{% endif %}
</head>
<body class="{{ page.slug }}">
{% if not page.home %}
<header>
    <a href="{{ site_root }}/">{{ site_name }}</a>
    {% if page.parent %}<a href="{{ site_root }}/{{ page.parent }}">{{ parent_page.title }}</a>{% endif %}
</header>
{% endif %}
<main>
    <h1>{{ page.title }}</h1>
    {{ page.body }}
</main>
{% if not page.home %}<hr>{% endif %}
{% include 'page/nav.html' %}
<footer>
&copy; Copyright <a href="{{ site_root }}/">{{ site_name }}</a> 2002-2022.
    Všetky práva vyhradené | <a href="/fm/">FM</a>
</footer>
</body>
</html>
